/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

/volumes
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/dictionaries
/.idea/jsLibraryMappings.xml
/.idea/markdown.xml
/.idea/milvus.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
